/* Side bar */
.sidebar {
    margin-left: 90px;
    width: 250px;
    position: fixed;
    display: inline-block;
    vertical-align: top;
}

.right {
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
}

.sidebar-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4 {
    text-align: center;
}

.sidebar button {
    text-align: center;
    display: block;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar select {
    text-align: center;
    display: block;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#stats {
    font-size: medium;
    text-align: center;
    min-width: 250px;
}

#stats td {
    border: 1px solid black;
    font-size: small;
    padding: 5px;
}

#word-definition span {
    display: block;
    margin: 10px;
    font-size: x-large;
    text-align: center;
}

#sentence-definition span {
    display: block;
    margin: 10px;
    text-align: center;
    font-size: smaller;
}

.sidebar textarea {
    width: 242px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.sidebar input {
    width: 242px;
    text-align: center;
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
}

audio {
    width: 250px;
}

label {
    font-size: medium;
}

td.matching-item {
    min-width: 175px;
    text-align: center;
    border-radius: 10px;
}

.matching-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

span.matching-item {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    text-align: center;
}

p.highlight span {
    border-radius: 10px;
    padding: 5px;
}

.drag-over {
    border: 1px solid blue;
}

#main {
    margin-left: 360px;
    margin-right: 20px;
    width: 600px;
    padding: 20px;
    border: 3px solid lightgray;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

#main p {
    line-height: 30px;
    white-space: pre-wrap;
}

.selected {
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
}

.multiple-choice {
    width: 290px;
    margin: 5px;
}

.bold {
    font-weight: bold;
}